@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.CloudFlareClearCache.Models.ClearCacheInfo>
@using DotNetNuke.Web.Mvc.Helpers
@using ActionType = Upendo.Modules.CloudFlareClearCache.Components.ActionType

<div id="Items-@Dnn.ModuleContext.ModuleId" class="section">
    <div class="row">
        <div class="col-sm-12">
            <h2>@Dnn.LocalizeString("Header")</h2>
            @if (Model == null || Model.Action == ActionType.Unknown || !ViewBag.ReadyToUse)
            {
                <div class="alert alert-info">
                    <p>@Dnn.LocalizeString("NoSettings")</p>
                </div>
            }
            else
            {
                if (ViewBag.Status == "success")
                {
                    <div id="divSuccess" class="alert alert-success">
                        <p>@Html.Raw(Dnn.LocalizeString("Success"))</p>
                    </div>
                }
                if (ViewBag.Status == "failure")
                {
                    <div id="divFailure" class="alert alert-danger">
                        <p>@Html.Raw(Dnn.LocalizeString("Failure"))</p>
                    </div>
                }
                <div class="form-group">
                    <label id="lblCacheToClear" for="txtCacheToClear">@Dnn.LocalizeString("lblCacheToClear")</label>
                    @Html.TextBoxFor(m => m.UrlPattern, new {maxlength = 255, @class = "form-control", required = "required", type = "text", @readonly = "readonly"})
                </div>
                @Html.HiddenFor(m => m.Action)
                <button class="btn btn-primary d-inline" id="btnSubmit" type="submit">@Dnn.LocalizeString("Submit")</button>
            }
        </div>
    </div>
</div>